cache.properties
.DS_Store

islandora.info~

includes/solution_packs.inc~

islandora.module~

tests/islandora_authtokens.test~

tests/islandora_basic_collection_manage_permissions.test~

tests/islandora_manage_perm.test~

tests/islandora_manage_permissions.test~

tests/islandora_web_test_case.inc~

theme/islandora-object.tpl.php~

theme/islandora.theme.inc~

tests/test_config.ini

